<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/carusel.css">
    <link rel="shortcut icon" href="/icon.png" type="image/xicon">
    <title>VDAN-Ottenheim</title>
</head>


<body>
    <div class="layout">
        <a href="index.html"><img class="logo" src="./Bilder/logo300x300.png" alt=""></a>
        <div id="heading">

            <nav>
                <section class="top-nav">

                    <input id="menu-toggle" type="checkbox" />
                    <label class='menu-button-container' for="menu-toggle">
                        <div class="menu-button"></div>
                    </label>
                    <ul class="menu">
                        <li><a href="index.html">Startseite </a></li>
                        <li><a href="https://vdan-vereisnshop.myspreadshop.de/" target="_blank">Shop </a></li>
                        <li><a href="termine.html">Termine </a></li>
                        <li><a href="vdan-jugend.html">Jugend </a></li>
                        <li><a href="mitglied-werden.html">Mitglied werden </a></li>
                        <li><a href="fischereipruefung.html">Fischereiprüfung </a></li>
                        <li><a href="anglerheim-ottenheim.html">Gastronomie </a></li>
                        <li><a href="downloads.html">Dokumente </a></li>

                                            <li data-guest-only><a href="/login/">Login</a></li>
                        <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>

                    </ul>

                </section>
            </nav>

            <header>

            </header>
        </div>

        <div id="middle">

            <main>
                <div class="pagehead">
                    <h3>Datenschutzerklärung</h3>
                </div>

                <div class="section-one-center">



                    <p>
                        Vielen Dank für Ihr Interesse an der Datenschutzrichtlinie für unsere Internetseite. Wir als
                        Verein sind uns der Bedeutung des Datenschutzes bewusst und möchten sicherstellen, dass Ihre
                        persönlichen Informationen sicher und geschützt sind. <br>
                        <br>

                        <strong> 1. Daten und Verwendung</strong>

                        Wir erheben personenbezogene Daten wie Name, E-Mail-Adresse und andere Informationen, die Sie
                        uns freiwillig zur Verfügung stellen. Wir verwenden diese Informationen, um Ihnen Informationen
                        über den Verein und seine Aktivitäten bereitzustellen, einschließlich Ankündigungen, Updates und
                        Veranstaltungseinladungen. <br>
                        <br>

                        Wir werden Ihre personenbezogenen Daten niemals an Dritte verkaufen, vermieten oder anderweitig
                        weitergeben, es sei denn, dies ist gesetzlich vorgeschrieben oder wir erhalten Ihre
                        ausdrückliche Zustimmung dazu.

                        <strong>2. Verwendung von Cookies</strong>
                        Wir verwenden Cookies, um Ihre Erfahrung auf unserer Internetseite zu verbessern und um
                        Informationen darüber zu sammeln, wie Besucher unsere Internetseite nutzen. Cookies sind kleine
                        Dateien, die auf Ihrem Computer gespeichert werden, wenn Sie unsere Internetseite besuchen. Sie
                        können die Verwendung von Cookies jederzeit in den Einstellungen Ihres Webbrowsers deaktivieren.
                        <br>
                        <br>
                        <strong>3. Datensicherheit</strong>
                        Wir treffen angemessene technische und organisatorische Maßnahmen, um Ihre personenbezogenen
                        Daten vor unbefugtem Zugriff, Verlust oder Missbrauch zu schützen. Wir speichern Ihre Daten in
                        sicheren Datenbanken, die nur für autorisierte Personen zugänglich sind. <br>
                        <br>

                        <strong>4. Links zu anderen Internetseiten</strong>

                        Unsere Internetseite enthält möglicherweise Links zu anderen Internetseiten, die nicht von uns
                        betrieben werden. Wir haben keine Kontrolle über diese Internetseiten und übernehmen keine
                        Verantwortung für deren Datenschutzrichtlinien oder Praktiken.
                        <br>
                        <br>

                        <strong>5. Änderungen an dieser Datenschutzrichtlinie</strong>

                        Wir behalten uns das Recht vor, diese Datenschutzrichtlinie jederzeit und ohne vorherige
                        Ankündigung zu ändern. Die Änderungen werden auf unserer Internetseite veröffentlicht und gelten
                        ab dem Zeitpunkt der Veröffentlichung.
                        <br>
                        <br>

                        <strong>6. Kontaktinformationen</strong>

                        Wenn Sie Fragen oder Bedenken bezüglich dieser Datenschutzrichtlinie haben, können Sie uns
                        jederzeit unter <a href="./kontakt.html" target="_blank" style="Color:white">Kontakt</a > kontaktieren. 

                       
                    </p>
                    <br>
                    <p> Letzte Aktualisierung: 28.03.2023</p>
                </div>

            </main>
            <div class="pagefoot">
                <span></span>
            </div>
        </div>






        <footer>

            <ul class="footerleft">
                <li><a href="kontakt.html">Kontakt</a></li>
                <li><a href="termine.html">Aktuelles</a></li>
            </ul>
            <ul class="footermiddle">
                <li><a href=" #top">Seitenanfang</a>
                </li>
                <li id="copyright">&#169; Michael Lauenroth</li>



            </ul>
            <ul class="right">
                <li><a href="index.html">Startseite </a></li>
                <li><a href="datenschutz.html">Datenschutz </a></li>
                <li><a href="impressum.html">Impressum </a></li>
                <li><a href="downloads.html">Downloads </a></li>
                            <li data-guest-only><a href="/login/">Login</a></li>
                <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>
            </ul>

        </footer>

    </div>

  <script src="/js/member-auth.js" defer></script>
  <script src="/js/ui-session.js" defer></script>
  <script src="/js/member-entry.js" defer></script>
</body>

</html>