<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="carusel.css">
    <link rel="shortcut icon" href="icon.png" type="image/xicon">
    <title>VDAN-Ottenheim</title>
</head>


<body>

    <div class="layout">
        <a href="index.html"><img class="logo" src="./Bilder/logo300x300.png" alt=""></a>
        <div id="heading">

            <nav>
                <section class="top-nav">

                    <input id="menu-toggle" type="checkbox" />
                    <label class='menu-button-container' for="menu-toggle">
                        <div class="menu-button"></div>
                    </label>
                    <ul class="menu">
                        <li><a href="index.html">Startseite </a></li>
                        <li><a href="https://vdan-vereisnshop.myspreadshop.de/" target="_blank">Shop </a></li>
                        <li><a href="termine.html">Termine </a></li>
                        <li><a href="vdan-jugend.html">Jugend </a></li>
                        <li><a href="mitglied-werden.html">Mitglied werden </a></li>
                        <li><a href="fischereipruefung.html">Fischereiprüfung </a></li>
                        <li><a href="anglerheim-ottenheim.html">Gastronomie </a></li>
                        <li><a href="veranstaltungen.html">Veranstaltungen</a></li>
                        <li><a href="vereinsarbeit.html">Vereinsarbeit </a></li>
                        <li><a href="downloads.html">Dokumente </a></li>

                                            <li data-guest-only><a href="/login/">Login</a></li>
                        <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>

                    </ul>

                </section>
            </nav>

            <header>

            </header>
        </div>



        <div id="middle">
            <div class="pagehead">
                <h3> Dokumente</h3>

            </div>

            <main>
                <div id="doc-menu">
                    <ul id="document-menu">
                        <li><a href="#anchor-Aufnahme">Aufnahmeanträge</a></li>
                        <li><a href="#anchor-aenderung">Änderungsformulare</a></li>
                        <li><a href="#anchor-Datenschutz">Datenschutz</a></li>
                        <li><a href="#anchor-Satzung">Satzung</a></li>
                        <li><a href="#anchor-Sonstiges">Fanglisten/Stundennachweise</a></li>
                    </ul>
                </div>
                <div class="section-one-center">
                    <br>
                    <p>Alle Dokumente können im Browser direkt ausgefüllt und zur Unterschrift ausgedruckt werden.</p>
                    <p>Fanglisten sind selbstverständlich händisch zu führen. <br>
                        <span>Diese Funktion ist aktuell noch nicht für Smartphones verfügbar</span>
                    </p>
                    <h4 id="anchor-Aufnahme">Aufnahmeantrag</h4>
                    <br>
                    <!-- Erst sichtbar ab 700px vw -->
                    <div class="button-container">
                        <form>
                            <button class="download" type="submit"
                                formaction="./Downloads/Aufnahmeantrag.pdf">Aufnahmeantrag</button>
                        </form>
                    </div>

                    <form>
                        <object data="./Downloads/Aufnahmeantrag.pdf" type="application/pdf">
                        </object>
                        <h5><a href="#top">&#8593; Seitenanfang</a></h5>
                        <br>
                        <h4>Aufnahmeantrag Jugend</h4>
                        <br>
                        <object data="./Downloads/Aufnahmeantrag_Jugend.pdf" type="application/pdf">
                        </object>
                    </form>
                    <div class="button-container">
                        <form>
                            <button class="download" type="submit"
                                formaction="./Downloads/Aufnahmeantrag_Jugend.pdf">Aufnahmeantrag_Jugend</button>
                        </form>
                    </div>
                    <h5><a href="#top">&#8593; Seitenanfang</a></h5>
                </div>


                <hr>
                <br>
                <h4 id="anchor-aenderung">Änderungsformulare</h4>
                <div class="section-two-center">
                    <h4>Änderung persönlicher Daten</h4>
                    <br>
                    <p>Bitte verwenden Sie diesese Formulare um uns Änderungen mitzuteilen</p>
                    <p>Dies gilt vorallem bei änderungen wie beispielsweise Wohnsitz oder Bankverbindung</p><br>
                    <form>
                        <object data="./Downloads/Aenderungsformular_Persoenliche_Daten.pdf" type="application/pdf">
                        </object>
                        <div class="button-container">
                            <form>
                                <button class="download" type="submit"
                                    formaction="./Downloads/Aenderungsformular_Persoenliche_Daten.pdf">Änderungsformular</button>
                            </form>
                        </div>
                    
                    </form>
                </div>
                <hr>
                <br>

                <h4>Rechtliches</h4>
                <div class="section-one-center">
                    <h4 id="anchor-Datenschutz">Datenschutz</h4>
                    <br>
                    <form>
                        <object data="./Downloads/Datenschutzrechtliche_Einwilligungserklaerung_01.pdf"
                            type="application/pdf">
                        </object>
                        <div class="button-container">
                            <form>
                                <button class="download" type="submit"
                                    formaction="./Downloads/Datenschutzrechtliche_Einwilligungserklaerung_01.pdf">Einwillugung
                                    Datenschutz</button>
                            </form>
                        </div>
                        </object>
                    </form>

                
                    <h5><a href="#top">&#8593; Seitenanfang</a></h5>
                        <br>
                        <h4 id="anchor-Satzung">Satzung</h4>
                        <br>

                        <object data="./Downloads/Satzung.pdf" type="application/pdf">
                        </object>
                    </form>

                    <div class="button-container">
                        <form>
                            <button class="download" type="submit"
                                formaction="./Downloads/Satzung.pdf">Satzung</button>
                        </form>

                </div>
        
                <div class="section-two">
                    <h4 id="anchor-Sonstiges"> Fanglisten und Stundennachweise</h4>
                    <div class="button-container">
                        <div id="button-container-sonstige">
                            <form>
                                <button type="submit" formaction="./Downloads/Fangliste_Innenwasser.pdf">Fangliste
                                    Innenwasser</button>

                                <button type="submit" formaction="./Downloads/Fangliste_Rheinlos.pdf">Fangliste
                                    Rheinlos</button>
                                <button type="submit"
                                    formaction="./Downloads/Stundennachweis_01.pdf">Stundennachweise</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="section-one-center">
                </form>

                
                <h5><a href="#top">&#8593; Seitenanfang</a></h5>
                    <br>
                
                </form>

                <div class="button-container">
                    <form>
                        <button class="download" type="submit"
                            formaction="./Downloads/Satzung.pdf">Satzung</button>
                    </form>
                </div>

        </div>
        </main>
        <div class="pagefoot">
            <span></span>
        </div>
    </div>



    <footer>

        <ul class="footerleft">
            <li><a href="kontakt.html">Kontakt</a></li>
            <li><a href="termine.html">Aktuelles</a></li>
        </ul>
        <ul class="footermiddle">
            <li><a href=" #top">Seitenanfang</a>
            </li>
            <li id="copyright">&#169; Michael Lauenroth</li>



        </ul>
        <ul class="right">
            <li><a href="index.html">Startseite </a></li>
            <li><a href="datenschutz.html">Datenschutz </a></li>
            <li><a href="impressum.html">Impressum </a></li>
            <li><a href="downloads.html">Downloads </a></li>
                        <li data-guest-only><a href="/login/">Login</a></li>
                <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>
            </ul>

    </footer>

    </div>

  <script src="/js/member-auth.js" defer></script>
  <script src="/js/ui-session.js" defer></script>
  <script src="/js/member-entry.js" defer></script>
</body>

</html>