<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="carusel.css">
    <link rel="shortcut icon" href="icon.png" type="image/xicon">
    <title>VDAN-Ottenheim</title>
</head>


<body>
    <div class="layout">
        <a href="index.html"><img class="logo" src="./Bilder/logo300x300.png" alt=""></a>
        <div id="heading">

            <nav>
                <section class="top-nav">

                    <input id="menu-toggle" type="checkbox" />
                    <label class='menu-button-container' for="menu-toggle">
                        <div class="menu-button"></div>
                    </label>
                    <ul class="menu">
                        <li><a href="index.html">Startseite </a></li>
                        <li><a href="https://vdan-vereisnshop.myspreadshop.de/" target="_blank">Shop </a></li>
                        <li><a href="termine.html">Termine </a></li>
                        <li><a href="vdan-jugend.html">Jugend </a></li>
                        <li><a href="mitglied-werden.html">Mitglied werden </a></li>
                        <li><a href="fischereipruefung.html">Fischereiprüfung </a></li>
                        <li><a href="anglerheim-ottenheim.html">Gastronomie </a></li>
                        <li><a href="veranstaltungen.html">Veranstaltungen</a></li>
                        <li><a href="vereinsarbeit.html">Vereinsarbeit </a></li>
                        <li><a href="downloads.html">Dokumente </a></li>

                                            <li data-guest-only><a href="/login/">Login</a></li>
                        <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>

                    </ul>

                </section>
            </nav>

            <header>

            </header>
        </div>

        <div id="middle">


            <main>
                <div id="middle">
                    <form id="contact" action="kontakt.php" method="post">
                        <div>
                            <label for="salut">Anrede:<span class="required">*</span></label>


                            <select name="salut" id="salut" required>
                                <option disabled selected value>Anrede</option>
                                <option>Frau</option>
                                <option>Herr</option>
                            </select>
                        </div>
                        <div>
                            <label for="lname">Nachname:<span class="required">*</span></label>
                            <input type="text" name="lname" required placeholder="Nachname" maxlength="30">
                        </div>
                        <div>
                            <label for="fname">Vorname:<span class="required">*</span></label>
                            <input type="text" name="name" required placeholder="Vorname" maxlength="30">
                        </div>
                        <div>
                            <label for="email">E-Mail:<span class="required">*</span></label>
                            <input type="email" id="email" name="email" required placeholder="Email" maxlength="50">
                        </div>
                        <div>
                            <label for="phone">Telefon:</label>
                            <input type="tel" id="phone" name="phone" placeholder="Telefonnummer" maxlength="20">
                        </div>
                        <div id="text">
                            <label for="message">Ihre Nachricht:<span class="required">*</span></label>
                            <textarea name="message" id="message" required placeholder="Ihre Nachricht an uns" cols="50"
                                rows="12" maxlength="1000"></textarea>
                        </div>
                        <div>
                            <label for="button" </label>
                                <button type="submit" id="button" name="button">Absenden</button>
                        </div>
                    </form>





                    <p><span class="required" id="warning">*Pflichtfelder</span></p>
                </div>
            </main>
            <div class="pagefoot">
                <span></span>
            </div>
        </div>






        <footer>

            <ul class="footerleft">
                <li><a href="kontakt.html">Kontakt</a></li>
                <li><a href="termine.html">Aktuelles</a></li>
            </ul>
            <ul class="footermiddle">
                <li><a href=" #top">Seitenanfang</a>
                </li>
                <li id="copyright">&#169; Michael Lauenroth</li>



            </ul>
            <ul class="right">
                <li><a href="index.html">Startseite </a></li>
                <li><a href="datenschutz.html">Datenschutz </a></li>
                <li><a href="impressum.html">Impressum </a></li>
                <li><a href="downloads.html">Downloads </a></li>
                            <li data-guest-only><a href="/login/">Login</a></li>
                <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>
            </ul>

        </footer>

    </div>

  <script src="/js/member-auth.js" defer></script>
  <script src="/js/ui-session.js" defer></script>
  <script src="/js/member-entry.js" defer></script>
</body>

</html>