<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/carusel.css">
    <link rel="shortcut icon" href="/icon.png" type="image/xicon">
    <title>VDAN-Ottenheim</title>
</head>


<body>
    <div class="layout">
        <a href="index.html"><img class="logo" src="./Bilder/logo300x300.png" alt=""></a>
        <div id="heading">

            <nav>
                <section class="top-nav">

                    <input id="menu-toggle" type="checkbox" />
                    <label class='menu-button-container' for="menu-toggle">
                        <div class="menu-button"></div>
                    </label>
                    <ul class="menu">
                        <li><a href="index.html">Startseite </a></li>
                        <li><a href="https://vdan-vereisnshop.myspreadshop.de/" target="_blank">Shop </a></li>
                        <li><a href="termine.html">Termine </a></li>
                        <li><a href="vdan-jugend.html">Jugend </a></li>
                        <li><a href="mitglied-werden.html">Mitglied werden </a></li>
                        <li><a href="fischereipruefung.html">Fischereiprüfung </a></li>
                        <li><a href="anglerheim-ottenheim.html">Gastronomie </a></li>
                        <li><a href="downloads.html">Dokumente </a></li>

                                            <li data-guest-only><a href="/login/">Login</a></li>
                        <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>

                    </ul>

                </section>
            </nav>

            <header>

            </header>
        </div>

        <div id="middle">
            <div class="pagehead">
                <h3>Wie werde ich Mitglied?</h3>
            </div>
            <div class="standard-container">
                <p>
                    Wenn Sie Mitglied unseres Vereins werden möchten, füllen Sie bitte den Aufnahmeantrag aus, den
                    ausgefüllten Antrag senden Sie bitte
                    zusammen mit einer
                    Kopie Ihres gültigen Jahresfischereischeines
                </p>
                <br>

                <p>
                    Rolf Bühler <br>
                    Hintere Str.21 <br>
                    77963 Schwanau
                </p>
                <br>
                <p>
                    Oder schicken Sie eine E-Mail mit ihren Daten und ein Bild ihres Jahresfischereischein an <a
                        href="mailto:vdan.ottenheim@freenet.de" style="color:white">vdan.ottenheim@freenet.de</a>
                </p>
            </div>
            <div class="section-two">
                <h3>Aufnahme </h3>
                <p>
                    Aufnahmeanträge können das ganze Jahr über bis zum 1. November abgegeben werden. Die Einladung
                    zu einem
                    Vorstellungsgespräch und Neuaufnahme erfolgen in der Zeit vom 1. November bis zum 15. Januar.
                </p>

            </div>
            <div class="section-one-center">
                <br>
                <p>Alle Dokumente können im Browser direkt ausgefüllt und zur Unterschrift ausgedruckt werden.</p>
                <p>Fanglisten sind selbstverständlich händisch zu führen.</p>
                <h4 id="anchor-Aufnahme">Aufnahmeantrag</h4>
                <br>
                <div class="button-container">
                    <form>
                        <button class="download" type="submit"
                            formaction="./Downloads/Aufnahmeantrag.pdf">Aufnahmeantrag</button>
                    </form>
                </div>
                <form>
                    <object data="./Downloads/Aufnahmeantrag.pdf" type="application/pdf">
                    </object>
                    <h4>Aufnahmeantrag Jugend</h4>
                    <br>
                    <div class="button-container">
                        <form>
                            <button class="download" type="submit"
                                formaction="./Downloads/Aufnahmeantrag_Jugend.pdf">Aufnahmeantrag_Jugend</button>

                        </form>
                    </div>
                    <object data="./Downloads/Aufnahmeantrag_Jugend.pdf" type="application/pdf">
                    </object>
                </form>
            </div>
            <!-- Erst sichtbar ab 700px vw -->













            <div class="pagefoot">
                <span></span>
            </div>
        </div>
    </div>


    </div>
    <footer>

        <ul class="footerleft">
            <li><a href="kontakt.html">Kontakt</a></li>
            <li><a href="termine.html">Aktuelles</a></li>
        </ul>
        <ul class="footermiddle">
            <li><a href=" #top">Seitenanfang</a></li>

            <li id="copyright">&#169; Michael Lauenroth</li>
        </ul>
        <ul class="right">
            <li><a href="index.html">Startseite </a></li>
            <li><a href="datenschutz.html">Datenschutz </a></li>
            <li><a href="impressum.html">Impressum </a></li>
            <li><a href="downloads.html">Downloads </a></li>
                        <li data-guest-only><a href="/login/">Login</a></li>
                <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>
            </ul>

    </footer>

    </div>

  <script src="/js/member-auth.js" defer></script>
  <script src="/js/ui-session.js" defer></script>
  <script src="/js/member-entry.js" defer></script>
</body>

</html>