<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="carusel.css">
    <link rel="shortcut icon" href="icon.png" type="image/xicon">
    <title>VDAN-Ottenheim</title>
</head>


<body>
    <div class="layout">
        <a href="index.html"><img class="logo" src="./Bilder/logo300x300.png" alt=""></a>
        <div id="heading">

            <nav>
                <section class="top-nav">

                    <input id="menu-toggle" type="checkbox" />
                    <label class='menu-button-container' for="menu-toggle">
                        <div class="menu-button"></div>
                    </label>
                    <ul class="menu">
                        <li><a href="index.html">Startseite </a></li>
                        <li><a href="https://vdan-vereisnshop.myspreadshop.de/" target="_blank">Shop </a></li>
                        <li><a href="termine.html">Termine </a></li>
                        <li><a href="vdan-jugend.html">Jugend </a></li>
                        <li><a href="mitglied-werden.html">Mitglied werden </a></li>
                        <li><a href="fischereipruefung.html">Fischereiprüfung </a></li>
                        <li><a href="anglerheim-ottenheim.html">Gastronomie </a></li>
                        <li><a href="veranstaltungen.html">Veranstaltungen</a></li>
                        <li><a href="vereinsarbeit.html">Vereinsarbeit </a></li>
                        <li><a href="downloads.html">Dokumente </a></li>

                                            <li data-guest-only><a href="/login/">Login</a></li>
                        <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>

                    </ul>

                </section>
            </nav>

            <header>

            </header>
        </div>


        <main>
            <div id="middle">
                <div class="pagehead">
                    <h3> Vereinsarbeit</h3>

                </div>


                <div class="inner-layout">
                    <div class="standard-container">
                        <div id="heading-standard-container">
                            <h3>Tag des Gewässers</h3>

                        </div>

                        <p>Jedes Jahr im März findet der Tag des Gewässers statt. Dieser Tag soll die Bedeutung von
                            sauberem Wasser und gesunden Gewässern für unsere Umwelt und unser Leben hervorheben. Das
                            Thema Wasser ist von zentraler Bedeutung für die Umwelt, die Wirtschaft und die
                            Gesellschaft. Es ist unerlässlich für unsere Gesundheit, unsere Ernährung, unsere Industrie
                            und unser Leben im Allgemeinen. </p>
                        <div class="inner-img-container-left">
                            <img src="./galery/Hegenundpflegen/IMG-20220319-WA0010.jpg" alt="">
                        </div>

                        <p>
                            Der Tag des Gewässers erinnert uns daran, wie wichtig es ist, unsere Gewässer sauber und
                            gesund zu halten. Wir sollten uns alle bemühen, unseren Teil dazu beizutragen, indem wir
                            unsere Wasserverschmutzung reduzieren, unsere Wasserressourcen schützen und die Gewässer in
                            unserer Nähe pflegen.
                        </p>
                        <div class="inner-img-container-right">
                            <img src="./galery/Hegenundpflegen/IMG-20220319-WA0014.jpg" alt="">
                        </div>

                        <p>
                            Als Angler ist das Thema Wasser für uns von besonderer Bedeutung. Unsere Freizeitaktivität
                            ist untrennbar mit sauberen und gesunden Gewässern verbunden. Wir sollten uns bemühen, den
                            Fischbestand in unseren Gewässern zu erhalten und zu schützen, indem wir
                            verantwortungsbewusst angeln und unsere Praktiken regelmäßig überdenken und anpassen.
                            Insgesamt ist der Tag des Gewässers eine wichtige Gelegenheit, uns daran zu erinnern, wie
                            wichtig sauberes Wasser für unser Leben und unsere Umwelt ist. Wir sollten uns alle
                            engagieren, um unsere Gewässer zu schützen und zu erhalten, indem wir unsere täglichen
                            Gewohnheiten ändern und uns aktiv an lokalen Projekten beteiligen. Als Angler können wir
                            unseren Teil dazu beitragen, indem wir verantwortungsbewusst handeln und uns bemühen, den
                            Fischbestand in unseren Gewässern zu erhalten. Lasst uns gemeinsam für sauberes Wasser und
                            gesunde Gewässer sorgen!
                        </p>
                        

                    </div>
                    <div class="section-two">
                        <div id="heading-section-two">
                            <h3 id="heading-section-two">Akteulle Projekte</h3>
                            <div class="inner-img-container-right">
                                <img src="./galery/Hegenundpflegen/IMG-20220205-WA0003.jpg" alt="Hegearbeiten">
                            </div>
                            <p> Als passionierte Angler und Mitglieder des VDAN-Ottenheim wissen wir nur allzu gut, wie
                                wichtig es ist, die Fischbestände in unseren Gewässern zu erhalten und zu schützen. Eine der
                                besten Möglichkeiten, dies zu tun, ist durch die Hege und Pflege aber auch den Bau von
                                Laichhilfen.
                                
                            </p>
                          
                            <p>
                                Daher gibt es dank unserer Gewässerwarte immer wieder Arbeitseinsätze zum Bau dieser
                                Laichhilfen. <br>
                                <br> 
                                Unsere Laichhilfen werden aus verschiedenen Materialien hergestellt werden, wie zum Beispiel
                                aus Holz, Steinen, Tannen oder Schilfrohr. <br>
                                <br>
                                Durch den Bau von Laichhilfen können wir die Fischbestände in unseren Gewässern erhöhen, was
                                zu besseren Bedingungen und mehr Erfolg beim Angeln führt. <br>
                            
                            </p>
                                <div class="inner-img-container-left">
                                    <img src="./galery/Hegenundpflegen/IMG-20220212-WA0011.jpg" alt="Hegearbeiten">
                                </div>
                                <p>
                                Insgesamt sind Laichhilfen eine einfache, aber effektive Möglichkeit, um die Fischbestände
                                in unseren Gewässern zu schützen und zu erhöhen.<br> 
                                <br>
                                Als Angelverein sollten wir uns alle
                                bemühen, unser Wissen und unsere Fähigkeiten zu nutzen, um Laichhilfen zu bauen und unseren
                                Beitrag zum Schutz unserer natürlichen Ressourcen zu leisten.  
                            </p>
                            
                            <img src="./galery/Hegenundpflegen/IMG-20211127-WA0010.jpg" alt="" style="border-radius: 20px; margin-bottom: 10px;">
                            
                            <img src="./galery/Hegenundpflegen/IMG-20211127-WA0013.jpg" alt="" style="border-radius: 20px;"">
                        </div>
                    </div>
                   

                </div>
            </div>

            <div class="pagefoot">
                <span></span>
            </div>

        </main>





        <footer>

            <ul class="footerleft">
                <li><a href="kontakt.html">Kontakt</a></li>
                <li><a href="termine.html">Aktuelles</a></li>
            </ul>
            <ul class="footermiddle">
                <li><a href=" #top">Seitenanfang</a>
                </li>
                <li id="copyright">&#169; Michael Lauenroth</li>



            </ul>
            <ul class="right">
                <li><a href="index.html">Startseite </a></li>
                <li><a href="datenschutz.html">Datenschutz </a></li>
                <li><a href="impressum.html">Impressum </a></li>
                <li><a href="downloads.html">Downloads </a></li>
                            <li data-guest-only><a href="/login/">Login</a></li>
                <li data-member-only class="hidden" hidden><a href="/app/">Mitgliederbereich</a></li>
            </ul>

        </footer>

    </div>

  <script src="/js/member-auth.js" defer></script>
  <script src="/js/ui-session.js" defer></script>
  <script src="/js/member-entry.js" defer></script>
</body>

</html>